body {
    background-color: #f8f9fa;
}

.container-fluid {
    padding-top: 50px; 
}


.card {
    border: none;
    box-shadow: 0 4px 8px #6B3F73;
    margin-top: 20px;
}

.card-body {
    padding: 30px;
}


.img-fluid {
    max-width: 200px;
    height: auto;
    margin: 20px auto;
    display: block;
}


h1, h2, h3, h4, h5, h6 {
    color: #6B3F73;
    margin-bottom: 10px;
}


.form-label {
    color: #343a40;
}

.form-control {
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group-text {
    cursor: pointer;
    background-color: white;
    border: 1px solid #ced4da;
    border-left: none;
}

.input-group-text:hover {
    background-color: #eee;
}

.form-select {
    border: 1px solid #ced4da;
}

.form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #6B3F73 !important; 
    border-color: #5a32a3 !important; 
}

.btn-primary:hover {
    background-color: #5a32a3 !important;
    border-color: #4a258c !important;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #4a258c;
    border-color: #3b1d72;
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.5);
}


#footerQualityManagement {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6B3F73;
    text-align: center;
    color: #ffffff;
    padding: 5px 0;
    z-index: 999;
}


#headerQualityManagement {
    background-color: #6B3F73;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px; 
}

#headerQualityManagement .col-auto:first-child {
    padding-left: 15px; 
}


.tableDataQuality {
    color: #ffffff;
    background-color: #6B3F73;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%; 
}

.tableDataQuality th {
    color: #6B3F73;
    border: 1px solid #6B3F73;
    text-align: center;
    vertical-align: middle;
}

.tableDataQuality tr {
    color: #6B3F73;
    background-color: #ffffff;
}

.tableDataQuality td {
    border: 1px solid #E6716E;
}

.tableDataQuality tbody tr {
    height: 80px; 
}

.tableDataQuality tbody td {
    vertical-align: middle; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}



.seccion {
    background-color: #6B3F73;
    color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    width: 90%; 

}


.row-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 { 
    display: flex;
    align-items: center;
    justify-content: center;
}


.sin-margen {
    margin: 0;
}

.icono-usuario {
    font-size: 2rem;
    color: #ffffff;
}



.form-label {
    text-align: center;
    width: 100%;
}

.form-select {
    width: 100%;
}

.date-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 5px;
}

.date-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.date-inputs label {
    margin-right: 5px;
}

.date-inputs input {
    flex: 1 1 auto;
    min-width: 150px;
}

@media (max-width: 768px) {
    .date-inputs {
        flex-direction: column;
        align-items: stretch;
    }

    .date-inputs input {
        min-width: auto;
        width: 100%;
    }
}

.btn-warning-custom {
    background-color: #FFC107;
    color: #212529;
    border-color: #FFC107;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-top: 5px;
}

.btn-warning-custom { 
    background-color: #FFC107 !important; 
    color: #212529;     
    border-color: #FFC107 !important;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
    margin-top: 5px;
}

.btn-warning-custom:hover{
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}

.btn-warning-custom:active, .btn-warning-custom.active{ 
    background-color: #ffffff !important;
    color: #6B3F73 !important;
    border-color: #ffffff !important;
}

.btn-warning-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
}

.btn-warning-custom.transicion-blanco { 
    background-color: #ffffff;
    color: #6B3F73;
    border-color: #ffffff;
}


.labelFiltroBusqueda {
    padding-top: 6px;
    text-align: right;
    color: #ffffff;
    padding-right: 15px;
    border-radius: 5px;
}

.selectFiltroBusqueda {
    border: 1px solid #ced4da; 
    border-radius: 5px;
    width: auto; 
    margin-top: 10px !important;

}

.inputGroupFiltroBusqueda {
    padding-left: 10px;
    
}

.pagination .page-link {
    color: #6B3F73 !important; 
}

.pagination .page-link:hover {
    background-color: #502A59 !important; 
    color: #ffffff !important;
}

.pagination .page-item.active .page-link {
    background-color: #502A59 !important; 
    border-color: #502A59 !important;
    color: #ffffff !important;
}

.pagination .page-item.disabled .page-link {
    background-color: #D3B8DC !important;
    color: #ffffff !important;
    border-color: #D3B8DC !important;
}


